<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior"
               name="CGeers.Wcf.Services.FileUploadService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="CGeers.Wcf.Services.IFileUploadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/FileUploadService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>